allure-python-commons==2.9.45
docker==6.1.3
importlib_metadata==5.0.0
neo-mamba==2.3.0
paramiko==2.10.3
pexpect==4.8.0
requests==2.31.0
tenacity
jinja2
pyyaml
pytest
boto3

# Dev dependencies
black==22.8.0
bumpver==2022.1118
isort==5.12.0
pre-commit==2.20.0

# Packaging dependencies
build==0.8.0
setuptools==65.5.1
twine==4.0.1
